* {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(56, 56, 56);
}

.root {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.card {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33%;
}

.img-flower {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.card-stats {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.star {
  width: 20px;
}

.gray {
  color: rgb(133, 156, 166);
  font-size: 14px;
}

.candy {
  color: rgb(88, 205, 255);
}